.Forms {
    align-items: center;
}

.area {
    display: flex;
    margin-bottom: 20px;
}

.area label {
    margin-right: 20px;
}

.password {
    margin-bottom: 20px;
}

.password button {
    margin-left: 15px;
}


.password label {
    margin-right: 72px;
}